.promo{
	display:none !important;
}

.definition{
	display:none !important;
}

.component .definition + hr{
	display:none !important;
}

.promoted-trend, .promoted-account, .promoted-tweet{
    display:none !important;
}
